<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kjh.seoulapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/daum_api_key" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SocialLoginActivity"
            android:label="@string/title_activity_social_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TourMainActivity"
            android:label="@string/title_activity_tour_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TourRegionActivity"
            android:label="@string/title_activity_tour_region"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".QuizProblemActivity"></activity>
    </application>

</manifest>